*{
    margin: 0;
    padding: 0;
}

.main{
    position: absolute;
    top: 20%;
    left: 42%;
    translate: translate(-20%, -50%);
    padding: 10px;
    background: rgb(117, 117, 117);
}

.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
}

.button:hover{
    background: rgb(141, 141, 141);
    color: #fff;
    border: none;
}

.textview{
    width: 200px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    background: rgb(255, 255, 255);
    border: none;
}

.bg{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, #a1c4fd, #c2e9fb);
}

/* Responsive */

/* laptop Size */

@media (max-width:1032px){
    .main{
        top: 35%;
        left: 40%;    
    }
}

/* Tablet size */

@media (max-width:768px){
.main{
    top: 30%;
    left: 36%;
    translate: translate(-10%, -50%);
    }
}

/* Smartphone size */

@media (max-width:375px){
    .main{
        top: 30%;
        left: 18%;
        translate: translate(-10%, -50%);
        }
}